.display {
    background-color: black;
    color: white;
    padding: 15px;
    width: 250px;
    text-align: right;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
button {
    padding: 10px;
    width: 67px;
    height: 45px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
}
button:hover {
    cursor: pointer;
    background-color: gray;
}
button:active {
    background-color: gray;
}